@model WebHotelPagina.Models.Hotel2

@{
    ViewData["Title"] = "NuevoHotel";
}

<h1>NuevoHotel</h1>

<h4>Hotel2</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div> 

            <input asp-for="id" type="text" class="form-control" name="id" />

            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" name="nombre" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="direccion" class="control-label"></label>
                <input asp-for="direccion" class="form-control"  name="direccion"/>
                <span asp-validation-for="direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono" class="control-label"></label>
                <input asp-for="telefono" class="form-control" name="telefono"/>
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Servicios" class="control-label"></label>
                <input asp-for="Servicios" class="form-control" name="Servicios" />
                <span asp-validation-for="Servicios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="web" class="control-label"></label>
                <input asp-for="web" class="form-control"  name="web"/>
                <span asp-validation-for="web" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="correo" class="control-label"></label>
                <input asp-for="correo" class="form-control" name="correo" />
                <span asp-validation-for="correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descripcion" class="control-label"></label>
                <input asp-for="descripcion" class="form-control" name="descripcion"/>
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tarifamin" class="control-label"></label>
                <input asp-for="tarifamin" class="form-control" name="tarifamin"/>
                <span asp-validation-for="tarifamin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tarifamax" class="control-label"></label>
                <input asp-for="tarifamax" class="form-control" name="tarifamax"/>
                <span asp-validation-for="tarifamax" class="text-danger"></span>
            </div>
             

            <div class="form-group">
                <label asp-for="id_ciudad" class="control-label"></label>
                @Html.DropDownList("id_ciudad", ViewBag.DEP as SelectList,
                "Seleccione...", new { @class = "form-select"} )
                <span asp-validation-for="id_ciudad" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>
                    Imagen:
                </label>
                <input name="archivo" type="file" />
            </div>

            @if (Model.id != 0)
            {
                <div class="form-group">
                    <button type="submit" asp-action="EditHotel" class="btn btn-primary">Actualizar</button>
                </div>
            }
            else
            {
                <div class="form-group">
                    <button type="submit" asp-action="NuevoHotel" class="btn btn-primary">Crear Hotel</button>
                </div>
            }

            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
