@model WebHotelPagina.Models.Reservas

@{
    ViewData["Title"] = "RegistroReserva";
}

<h1>RegistroReserva</h1>

<h4>Reservas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegistroReserva">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_reserva" class="control-label"></label>
                <input asp-for="id_reserva" class="form-control" />
                <span asp-validation-for="id_reserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="usuario" class="control-label"></label>
                <input asp-for="usuario" class="form-control" />
                <span asp-validation-for="usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="correo" class="control-label"></label>
                <input asp-for="correo" class="form-control" />
                <span asp-validation-for="correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="habitacion" class="control-label"></label>
                <input asp-for="habitacion" class="form-control" />
                <span asp-validation-for="habitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_reserva" class="control-label"></label>
                <input asp-for="fecha_reserva" class="form-control" />
                <span asp-validation-for="fecha_reserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_entrada" class="control-label"></label>
                <input asp-for="fecha_entrada" class="form-control" />
                <span asp-validation-for="fecha_entrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_salida" class="control-label"></label>
                <input asp-for="fecha_salida" class="form-control" />
                <span asp-validation-for="fecha_salida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dias_reserva" class="control-label"></label>
                <input asp-for="dias_reserva" class="form-control" />
                <span asp-validation-for="dias_reserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precio_total" class="control-label"></label>
                <input asp-for="precio_total" class="form-control" />
                <span asp-validation-for="precio_total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
