@model WebHotelPagina.Models.TbHabitaciones

@{
    ViewData["Title"] = "Nueva Habitacion";
}

 

@if (Model.cod_habitacion != null)
{
    <h1>Actualizar Habitacion</h1>
}
else
{
    <h1>Nueva Habitacion</h1>
}

 
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="cod_habitacion" type="hidden" class="form-control" name="cod_habitacion" />


            <div class="form-group">
                <label   class="control-label">HOTEL</label>
                @Html.DropDownList("id_hotel", ViewBag.HOTEL as SelectList,
                "Seleccione...", new { @class = "form-select"} )
                <span asp-validation-for="id_hotel" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label   class="control-label">TIPO DE HABITACION</label>
                @Html.DropDownList("id_tipo", ViewBag.TIPO as SelectList,
                "Seleccione...", new { @class = "form-select"} )
                <span asp-validation-for="id_tipo" class="text-danger"></span>
            </div>
             
             
            <div class="form-group">
                <label  class="control-label">PRECIO POR DIA</label>
                <input asp-for="precio" class="form-control" name="precio" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label   class="control-label">NOMBRE DE LA HABITACION</label>
                <input asp-for="nombre" class="form-control" name="nombre" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label   class="control-label">DESCRIPCION DE LA HABITACION</label>
                <input asp-for="descripcion" class="form-control" name="descripcion"/>
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>
                    Imagen REFERENCIAL:
                </label>
                <input name="archivo" type="file" />
            </div>

             
            

            @if (Model.cod_habitacion != null)
            {
                <div class="form-group">
                    <button type="submit" asp-action="EditHabitaciones" class="btn btn-warning">Actualizar</button>
                </div>
            }
            else
            {
                <div class="form-group">
                    <button type="submit" asp-action="NuevaHabitacion" class="btn btn-warning">Crear Habitacion</button>
                </div>
            }


        </form>
    </div>
</div>

<div>
    <a asp-action="IndexListadoHabitaciones" class="btn btn-primary" style="display: inline-block;">REGRESAR AL LISTADO</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
