@model WebHotelPagina.Models.TbTipoHabitacion
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
@{
    ViewData["Title"] = "Nuevo Tipo de Habitacion";
}
 


@if (Model.id != 0)
{
    <h1>Actualizar Tipo de Habitacion</h1>
}
else
{
    <h1>Nuevo Tipo de Habitacion</h1>
}


 
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div> 

            <input asp-for="id" type="hidden" class="form-control" name="id" />



            <div class="form-group">
                <label   class="control-label">DESCRIPCION DE TIPO DE HABITACION</label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            

            <div class="form-group">
                <label   class="control-label">CAPACIDAD DE PERSONAS</label>
                <input asp-for="capacidad" class="form-control" />
                <span asp-validation-for="capacidad" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="id_hotel" class="control-label"></label>
                @Html.DropDownList("id_hotel", ViewBag.TIPO as SelectList,
                "Seleccione...", new { @class = "form-select"} )
                <span asp-validation-for="id_hotel" class="text-danger"></span>
            </div> *@


            @if (Model.id != 0)
            {
                <div class="form-group">
                    <button type="submit" asp-action="EditTipos" class="btn btn-warning">Actualizar</button>
                </div>
            }
            else
            {
                <div class="form-group">
                    <button type="submit" asp-action="NuevoTipo" class="btn btn-warning">Crear Tipo de Habitacion</button>
                </div>
            }



        </form>
    </div>
</div>

<div>
    <a asp-action="IndexListadoTipos" class="btn btn-primary" style="display: inline-block;">REGRESAR AL LISTADO</a>
</div>












@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
