@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmacion de cambio de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor, revisa tu email para continuar con el proceso de cambio de contraseña!!
</p>
