  

@page
@model LoginModel

@{
    ViewData["Title"] = "Loguearme"; 
}

<h1>@ViewData["Title"]</h1>
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

            <form id="account" method="post">


                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                     

                    <div class="divider d-flex align-items-center my-4"> 
                    </div>

                    <div class="form-floating-outline mb-4">
                        <label asp-for="Input.Email" class="form-label"></label>
                        <input asp-for="Input.Email" id="form3Example3" placeholder="Ingrese un email valido" class="form-control form-control-lg" autocomplete="username" aria-required="true" />

                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="form-floating-outline mb-3">
                        <label asp-for="Input.Password" class="form-label"></label>
                        <input asp-for="Input.Password" id="form3Example4" class="form-control form-control-lg" placeholder="Ingrese su contraseña" autocomplete="current-password" aria-required="true" />

                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div>
                        <div class="checkbox form-check mb-0">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input id="form2Example3" class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>

                    <div>
                        <button id="login-submit" style="padding-left: 2.5rem; padding-right: 2.5rem;" type="submit" class="w-100 btn btn-lg btn-primary">Loguearme</button>
                    </div>

                     
                      
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <p >
                            <a  id="forgot-password" asp-page="./ForgotPassword">Olvidaste tu contraseña?</a>
                        </p>
                        <p class ="small fw-bold mt-2 pt-1 mb-0">
                            <a asp-page="./Register" class="link-danger" asp-route-returnUrl="@Model.ReturnUrl">Aun no tengo una cuenta </a>
                        </p>
                        <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Re-enviar Email de Verificacion</a>
                        </p>
                    </div>





                     
                
                </form>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
        <!-- Copyright -->
        <div class="text-white mb-3 mb-md-0">
            Copyright © 2023. All rights reserved.
        </div>
        <!-- Copyright -->
        <!-- Right -->
         
        <!-- Right -->
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
