@page
@model RegisterModel
@if (User.IsInRole(SlnWeb.Utilities.Session.AdminRol))
{
    <h1>REGISTRAR UN USUARIO ADMINISTRADOR</h1>
}
else
{
    <h1>Registrar</h1>
}



<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="divider d-flex align-items-center my-4">  </div>


                     
 
                    <div class="form-floating-outline mb-4">
                        <label asp-for="Input.Email" class="form-label"></label>
                        <input asp-for="Input.Email" class="form-control form-control-lg" autocomplete="username" aria-required="true" />

                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating-outline mb-4">
                        <label asp-for="Input.Password" class="form-label"></label>
                        <input asp-for="Input.Password" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" />

                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating-outline mb-4">
                        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" />

                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>

                    @if (User.IsInRole(SlnWeb.Utilities.Session.AdminRol))
                    {
                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-warning">Registrar Usuario Admin</button> 

                    }
                    else
                    {
                        <button id="registerSubmit" style="padding-left: 2.5rem; padding-right: 2.5rem;" type="submit" class="w-100 btn btn-lg btn-primary">Registrarme</button>
                    
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Olvidaste tu contraseña?</a>
                        </p>
                        <p class="small fw-bold mt-2 pt-1 mb-0">
                            <a asp-page="./Login" class="link-danger" asp-route-returnUrl="@Model.ReturnUrl">Ya tengo una cuenta</a>
                        </p>
                    
                    
                    }

                    



                    </br>
                    </br>


                </form>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
        <!-- Copyright -->
        <div class="text-white mb-3 mb-md-0">
            Copyright © 2023. All rights reserved.
        </div>
        <!-- Copyright -->
        <!-- Right -->
        <!-- Right -->
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



 