@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "SU contraseña ha sido cambiada con exito!!";
}

<h1>@ViewData["Title"]</h1>
<p> 
        Tu contraseña ha sido restablecida. Por favor <a asp-page="./Login"> haga clic aquí para iniciar sesión</a>.
</p>
