

    <section id="about-us">
        <h2>Sobre Nosotros</h2>
        <p>Bienvenido a Easy Stay, tu destino para encontrar las mejores opciones de alojamiento. En Easy Stay, nos esforzamos por proporcionar experiencias de viaje excepcionales al ofrecer una amplia variedad de hoteles y habitaciones para satisfacer todas tus necesidades y preferencias.</p>
        <p>Nuestro equipo está comprometido a brindarte un servicio de alta calidad, facilitando reservas rápidas y seguras. Ya sea que estés planeando unas vacaciones, un viaje de negocios o una escapada de fin de semana, Easy Stay tiene la solución perfecta para ti.</p>
    </section>

    <section id="mission-vision">
        <h2>Nuestra Misión y Visión</h2>
        <p><strong>Misión:</strong> Facilitar a nuestros usuarios la búsqueda y reserva de alojamientos de manera sencilla, rápida y segura, ofreciendo una amplia variedad de opciones para todos los gustos y presupuestos.</p>
        <p><strong>Visión:</strong> Ser el principal referente en el mundo de las reservas de habitaciones, proporcionando un servicio innovador y orientado al cliente.</p>
    </section>

    <footer>
        <!-- Agrega aquí el pie de página con enlaces adicionales, información de contacto, etc. -->
        <p>&copy; 2023 Easy Stay. Todos los derechos reservados.</p>
    </footer>

    <!-- Agrega aquí tus enlaces a archivos JavaScript y cualquier otro script necesario -->
